@media screen and (max-width: 415px) {
  body {
    max-width: 375px;
    overflow-x: hidden;
    margin: 0;
    background: #f1f1f1;
    .main {
      height: auto;
      &__title {
        font-size: 29px;
        padding-top: 230px;
        width: auto;
        line-height: 55px;
      }
    }
    .header {
      &__inner {
        margin-left: 0;
        margin-right: 20px;
        img {
          width: 60px;
          height: 40px;
        }
      }
      &__burger span {
        width: 30px;
        margin-top: 15px;
      }
      &__item {
        font-size: 12px;
        width: 92px;
      }
    }
    .wrapper {
      .hero {
        height: auto;
        padding-top: 60px;
        img {
          width: 160px;
          height: 180px;
        }
        &__text {
          font-size: 12px;
          padding: 30px;
        }
        &__title {
          font-size: 25px;
          margin-top: -24px;
          margin-left: 10px;
          width: auto;
          height: auto;
        }
        .text {
          font-size: 12px;
          padding: 38px;
        }
        .image {
          margin-left: 0;
          height: 250px;
        }
      }
    }
    .slider {
      padding-left: 0;
      height: auto;
      &__wrapper {
        width: 375px;
        margin-left: 10px;
      }
      &__header {
        width: auto;
        font-size: 18px;
      }
      &__button {
        margin-left: 25px;
        width: 90px;
        font-size: 11px;
      }
      &__btn {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        img {
          width: 10px;
          height: 10px;
        }
      }
      .wrapp {
        height: 474px;
        width: 250px;
        img {
          width: 150px;
          height: 260px;
          margin-left: 50px;
        }
      }
      &__item {
        width: 250px;
        height: 474px;
        &::before {
          height: 474px;
        }
      }
      &__title {
        font-size: 15px;
        margin-left: 15px;
        width: auto;
      }
      &__descr {
        margin-left: 15px;
        font-size: 10px;
        width: 175px;
      }
      .line {
        width: 375px;
      }
    }
    .footer {
      height: auto;
      margin-top: 60px;
      img {
        &:first-child {
          width: 300px;
          margin-top: 50px;
        }
        &:nth-child(2) {
          width: 230px;
          height: 110px;
        }
      }
      &__title {
        font-size: 15px;
        width: 139px;
        line-height: 21px;
      }
      &__wrapper {
        width: 250px;
        height: 50px;
        right: 110px;
        bottom: 36px;
      }
      &__circle {
        bottom: 36px;
        width: 50px;
        right: 110px;
        height: 50px;
        padding: 3px;
        img {
          width: 6px !important;
          height: 6px !important;
          margin: 0 3px 0 1px !important;
        }
        span {
          font-size: 3px;
          width: auto;
        }
      }
    }
    .home {
      height: 415px;
      &__wrapper {
        width: 200px;
        height: 50px;
        left: 120px;
        top: 175px;
      }
      &__circle {
        left: 270px;
        top: 175px;
        width: 50px;
        height: 50px;
        padding: 3px;
        img {
          width: 6px !important;
          height: 6px !important;
          margin: 0 3px 0 1px !important;
        }
        span {
          font-size: 3px;
          width: auto;
        }
      }
      &__footer {
        width: 360px;
        padding-top: 16px;
      }
      &__item {
        font-size: 12px;
        &:nth-child(2) {
          margin-left: 15px;
          margin-right: 150px;
        }
      }
    }
  }
}
